extends ../layout/layout
block content
    .row
        div(class='col-md-6')
        div(class='col-md-6')
    .row
        .col-md-12
            .card
                .card-header=__('photo.albums')
                    if user
                        if user.isAdmin
                            a.btn.btn-sm.btn-primary.float-right(href='/photos/gallery/add')=__('photo.album.add')
                            //-a.btn.btn-sm.btn-info.float-right.mr-1(href='/photos/gallery/categories/add') კატეგორიის დამატება
                .card-body.no-padder
            .row#loop(style="margin-top:20px;")                
                    each gallery, i in galleries
                        .col-md-3
                            .card.mb-4.post-card(style='width: 100%;')
                                .post-img
                                    small.float-right= gallery.category
                                    img.card-img-top(src='/uploads/gallery/'+gallery.cover, alt=gallery.title)
                                .card-body.no-padder
                                    h5.card-title.p-2.m-0= gallery.title
                                        #res
                                    .post-body.p-2#post-body!= gallery.description
                                    .card-bottom
                                        a.btn.btn-primary.post-btn(href="/photos/gallery/"+gallery._id)
                                            small=__('photo.album.more')
            .row
                .col-md-12
                    nav(aria-label='Page navigation example')
                        ul.pagination
                            li.page-item#prev-page
                                a.page-link(href='#', aria-label='Previous')
                                    span(aria-hidden='true') «
                                    span.sr-only Previous