nav.navbar.navbar-expand-lg.fixed-top.navbar-laravel
    .container
        a.navbar-brand(href='/') 
            img(src="/img/logo.png", alt="logo" width="135" height="35")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
                i.fas.fa-align-justify
        #navbar.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/')= __('nav.home')
                li.nav-item
                    a.nav-link(href='/articles')= __('nav.blog')
                li.nav-item
                    a.nav-link(href='/photos/gallery')= __('nav.gallery')
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')= __('nav.organisation')
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='/pages/ჩვენ-შესახებ')= __('nav.aboutus')
                        a.dropdown-item(href='#')= __('nav.events')
                        a.dropdown-item(href='#')= __('nav.projects')
                        .dropdown-divider
                        a.dropdown-item(href='/donation')= __('nav.donation')
                li.nav-item
                    a.nav-link(href='/contact')= __('nav.contact')
            ul.nav.navbar-nav
                if user
                    if user.isAdmin
                        li.nav-item
                            a.nav-link(href='/')
                                i.far.fa-envelope
                        li.nav-item
                            a.nav-link(href='/')
                                i.far.fa-bell
                    li.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            = user.firstName + ' ' + user.lastName
                            span.caret
                        .dropdown-menu
                            a.dropdown-item(href='/users/'+user.username)= __('nav.profile')
                            a.dropdown-item(href='/users/'+user.username + '#settings')= __('nav.settings')
                            .dropdown-divider
                            a.dropdown-item(href='/users/logout')= __('nav.logout')
                    li.nav-item
                        a.nav-link(href='/ka')
                            img(src='/img/lang/'+ __('lang.georgian') + '.png', alt="")
                    li.nav-item
                        a.nav-link(href='/ru')
                            img(src='/img/lang/'+ __('lang.russian') + '.png', alt="")
                    li.nav-item
                        a.nav-link(href='/en')
                            img(src='/img/lang/'+ __('lang.english') + '.png', alt="")
                else
                    li.nav-item
                        a.nav-link(href='/users/login')= __('nav.signin')
                    li.nav-item
                        a.nav-link(href='/users/register')= __('nav.signup')
                    li.nav-item
                        a.nav-link(href='/ka')
                            img(src='/img/lang/'+ __('lang.georgian') + '.png', alt="")
                    li.nav-item
                        a.nav-link(href='/ru')
                            img(src='/img/lang/'+ __('lang.russian') + '.png', alt="")
                    li.nav-item
                        a.nav-link(href='/en')
                            img(src='/img/lang/'+ __('lang.english') + '.png', alt="")