extends ../layout/layout

block content
    .row
        .col-md-3
            .card.card-default.post-card.mb-4
                .post-img
                    a(href='/uploads/posts/'+article.poster, data-toggle='lightbox', data-gallery=article.title)
                        img.card-img-top(src='/uploads/posts/'+article.poster, alt=article.title)
            .list-group.mb-4.sidebar-list.border-top.border-primary
                .card.card-default
                    .list-group-item.post-date
                        .mb-0(data-toggle="tooltip" data-placement="top" title=article.date.year + ' ' + __('news.year') )
                            i.far.fa-calendar-alt.mr-2
                            = article.date.day + ' ' + article.date.month + ' ' + article.date.clock
            .category-list
                .list-group.mb-4
                    .card.card-default
                        each category, i in categories
                            a.list-group-item.list-group-item-action(href='/articles/category/' + category.slug)
                                i(class=category.icon)
                                each c, i in category.name
                                    != ' ' + c[lang]

            .list-group.mb-4.sidebar-list.border-bottom.border-primary
                .card.card-default
                    .list-group-item
                        .fb-share-button(data-href='/articles/' + article.slug + '/', data-layout='button', data-size='small', data-mobile-iframe='true')
                            a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=/articles/' + article.slug + '&src=sdkpreparse')=__('news.share') 
        .col-md-9
            .card.card-default
                .card-header
                    a.mr-2(href="#", onclick='goBack()', data-toggle='tooltip', data-placement='top', title=__('news.go_back'))
                        i.fas.fa-angle-left
                    each title, i in article.title
                        = title[lang].substr(0, 70)
                    .float-right
                        .fb-save(data-uri='http://emigrantisxma.com/articles/' + article.slug + '/', data-size='small')
                .card-body
                    each body, i in article.body
                        != body[lang]
                .card-footer
                    strong=__('news.author') + ' '
                        small= author
                    if user
                        if user.isAdmin
                            .btn-group.float-right(role='group')
                                a.btn.btn-secondary.btn-sm(href='/articles/edit/'+article._id)
                                    i.far.fa-edit
                                a.btn.btn-danger.btn-sm.delete-article(href='#', data-id=article._id)
                                    i.far.fa-trash-alt
            .row.mt-4
                if !gallery
                else
                    each photo, i in gallery.photos
                            .col-md-4.gallery-card
                                .card.card-default.mb-4
                                    .card-body.no-padder.gallery-img
                                        //-img(src='/uploads/gallery/'+gallery.title+'/'+photo, alt="")
                                        a(href='/uploads/gallery/'+gallery.title+'/'+photo, data-toggle='lightbox', data-gallery=gallery.title)
                                            img.img-fluid(src='/uploads/gallery/'+gallery.title+'/'+photo, alt=gallery.title)
            .row.mt-4
                .col-md-12
                    .card.card-default
                        .card-body
                            .fb-comments(data-href='http://emigrantisxma.com/articles/'+article._id, data-numposts='5', data-width="100%")
block scripts
    script.
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
        });
    script.
        function goBack() {
            window.history.back();
        }