extends ../layout/layout
block content
    .row
        .col-md-3
            .card.post-card
                .card-body.no-padder
                    
                    .input-group
                        .post-img
                            img.card-img-top(src="/uploads/posts/"+article.poster, alt="" id="imgpreview")
                            .custom-file
                                input.custom-file-input(type='file' name="poster" id="imgInp", value=article.poster)
                    .list-group
                    a.list-group-item.list-group-item-action(href='#')
                        i.fa.fa-cog
                        |  Navigation Item
                    a.list-group-item.list-group-item-action(href='#')
                        i.fa.fa-cog
                        |  Navigation Item 2
        .col-md-9
            .card.card-default
                .card-header
                    p.mb-0 #{title}
                        input#geoKeys.float-right(checked='checked', type='checkbox')
                .card-body
                    form(method='POST',  action='/articles/edit/'+article._id)
                        .row
                            .col-md-6
                                .form-group
                                    label Title:
                                    ul#myTab.nav.nav-tabs(role='tablist')
                                        li.nav-item
                                            a#home-tab.nav-link.p-1.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true')
                                                img(src="/img/lang/ქართული.png", alt="")
                                        li.nav-item
                                            a#profile-tab.nav-link.p-1(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false')
                                                img(src="/img/lang/Русский.png", alt="")
                                        li.nav-item
                                            a#contact-tab.nav-link.p-1(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false')
                                                img(src="/img/lang/English.png", alt="")
                                    #myTabContent.tab-content
                                        each articleName, i in article.title
                                            #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
                                                input.form-control(name="title", value=articleName.ka, type="text", onkeypress="return makeGeo(this,event);" placeholder="სათაური")
                                            #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
                                                input.form-control(name="titleru", value=articleName.ru, type="text", onkeypress="return makeGeo(this,event);" placeholder="Заглавие")
                                            #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
                                                input.form-control(name="titleen", value=articleName.en, type="text", onkeypress="return makeGeo(this,event);" placeholder="Title")
                            .col-md-6
                                    .form-group
                                        label კატეგორია:
                                        select.form-control(name="category", id="categorySelect")
                                            each catName, i in category.name
                                                    option(value=category._id)
                                                        = catName[lang]
                                            each category in categories
                                                each c, i in category.name
                                                    option(value=category._id)= c[lang]
                        .row
                            .col-md-6
                                
                            .col-md-6
                                .form-group
                                    label ალბომი:
                                    select.form-control(name="gallery", id="gallerySelect")
                                        option(value="---") აირჩიეთ ალბომი
                                        each g, i in gallery
                                            option(value=g._id)= g.title
                            .col-md-12
                                .form-group(style="display:none")
                                    label Author:
                                    input.form-control(name="author", type="text", value=article.author)
                                .form-group
                                    label Body:
                                    ul#myTab.nav.nav-tabs(role='tablist')
                                        li.nav-item
                                            a#ka-tab.nav-link.p-1.active(data-toggle='tab', href='#ka', role='tab', aria-controls='ka', aria-selected='true')
                                                img(src="/img/lang/ქართული.png", alt="")
                                        li.nav-item
                                            a#ru-tab.nav-link.p-1(data-toggle='tab', href='#ru', role='tab', aria-controls='ru', aria-selected='false')
                                                img(src="/img/lang/Русский.png", alt="")
                                        li.nav-item
                                            a#en-tab.nav-link.p-1(data-toggle='tab', href='#en', role='tab', aria-controls='en', aria-selected='false')
                                                img(src="/img/lang/English.png", alt="")
                                    #myTabContent.tab-content
                                        each articleBody, i in article.body
                                            #ka.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='ka-tab')
                                                textarea.jqte.form-control(name="body", onkeypress="return makeGeo(this,event);")= articleBody.ka
                                            #ru.tab-pane.fade(role='tabpanel', aria-labelledby='ru-tab')
                                                textarea.jqte.form-control(name="bodyru", onkeypress="return makeGeo(this,event);")= articleBody.ru
                                            #en.tab-pane.fade(role='tabpanel', aria-labelledby='en-tab')
                                                textarea.jqte.form-control(name="bodyen", onkeypress="return makeGeo(this,event);")= articleBody.en
                                input.btn.btn-primary.float-right(type="submit", value="სტატიის შესწორება")
                .card-footer